<h2><%= @list.name %></h2>
<p><%= @list.created_at %></p>

<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item"><%= "Comment: #{bookmark.comment}"  %>
    <br>
    <%= "Title: #{Movie.find(bookmark.movie_id).title}" %>
    <br>
    <%= "Overview: #{Movie.find(bookmark.movie_id).overview}" %>
    <br>
    <%= Movie.find(bookmark.movie_id).poster_url %>
    <br>
    <%= "Rating: #{Movie.find(bookmark.movie_id).rating}" %>
    <br>
     <%= link_to "Remove",
                  bookmark_path(bookmark),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<p><%= link_to "add a bookmark!", new_list_bookmark_path(@list) %></p>
<p><%= link_to "Back to main menu", lists_path %></p>
